@layer black {
  header.header {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-bottom-width: 1px;
    border-style: dashed;
    border-color: oklch(0.27 0.0055 286.03);
    padding: 0;
    background-color: color-mix(in oklab, var(--sl-color-bg-sidebar) 60%, transparent);
  }

  header.header > .header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1400px;
    border-style: dashed;
    padding-inline-end: 0;
  }

  [data-has-sidebar] .header {
    padding-inline-end: 0;
  }

  header.header > .header > .title-wrapper {
    padding-left: 1rem;
  }

  header.header > .header > .title-wrapper > .site-title {
    font-weight: 700;
    font-size: var(--text-base);
    gap: 0.5rem;
  }
  header.header > .header > .title-wrapper > .site-title > img {
    width: 1.5rem;
    height: 1.5rem;
  }

  header.header > .header > .right-group {
    padding-right: 1rem;
  }

  @media (min-width: 1400px) {
    header.header > .header {
      border-left: 1px dashed var(--sl-color-hairline);
      border-right: 1px dashed var(--sl-color-hairline);
    }
  }

  @media (min-width: 1280px) {
    header.header > .header > .title-wrapper {
      padding-left: 1.5rem;
    }

    header.header > .header > .right-group {
      padding-right: 1.5rem;
    }
  }

  header.header > .header > div.sl-flex:has(site-search) {
    justify-self: end;
    min-width: 15rem;
  }
}
